.main-logo {
  padding: 90px 0 ;
}

.main-item {
  display: flex;
  justify-content: space-around;
  @include header_logo
}

.main-item-in {
  width: 100%;
  max-width: 280px;
}

.main-item--title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px;
}

.main-item--text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #333333;
}

.main-item--inner {
  display: flex;
}

.main-span {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #777;
  margin-right: 10px;
  opacity: 0.5;
}

.main-ahref {
  text-decoration: none;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #EA625C;
  align-items: center;
}

.main-span-itam {
  margin-right: 10px;
  display: block;
  width: 40px;
  height: 1px;
  background-color: #EA625C;
}

.main-news {
  display: none;
  align-items: center;
}

@media only screen and (max-width:520px) {
  
  .main-logo {
    margin-bottom: 70px;
  }

  .main-news {
    display: block;
  }

  .main-item {
    display: none;
  }

  .main-item-in {
    background: #F5F5F5;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    padding: 50px;
  }

  .main-inner {
    margin-left: 100px;
  }
}